@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap')
	;

* {
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
	text-align: "center";
}

body{
	margin: 2em 10em;
	height: 100%;
}

.title {
	font-weight: bold;
	text-align: center;
	padding: 1em;
	font-size: 30px;
}

.precioCompra{
	font-weight: bold;
	font-size: 30px;
}

.envio{
	margin-top: 3em;
}

.product{
	display: grid;
}

.contenedor{
	text-align: center;
}
.submit {
	text-align: center;
	margin: 2em auto;
}

input[type=submit] {
	padding: 0 2em;
}

input[type=submit]:hover {
	background-color: gray;
	cursor: pointer;
}

.producto:hover{
	background-color: yellow;
	color:yellow;
}

.nombreProducto{
	font-weight: bold;
	font-size: 24px;
}
.img{
	padding: 1em 2em;
	float: right;
}
